{% extends 'base.html' %}
{% block content %}		

<div class="row" style="margin-top: 30px;">
	<form method="POST">
		{% csrf_token %}
		<div class="form-row">
			<div class="col-md" style="border-radius: 5px; padding: 5px 20px 5px 20px">
				<select class="custom-select mr-sm-2 text-black form-control" name="Profession">
				    <option selected value = "nil" >Choose Profession</option>				  	
				    <option value = "Baby Sitter" >Baby Sitter</option>
				    <option value = "Carpenter">Carpenter</option>
				    <option value = "Cook">Cook</option>
				    <option value = "Delivery Person">Delivery Person</option>
				    <option value = "Dentist">Dentist</option>
				    <option value = "Driver">Driver</option>
				    <option value = "Dry Cleaner">Dry Cleaner</option>
				    <option value = "Electrician">Electrician</option>
				    <option value = "ENT">ENT</option>
				    <option value = "Gardener">Gardener</option>
				    <option value = "Guard">Guard</option>
				    <option value = "House Cleaner">House Cleaner</option>
				    <option value = "Painter">Painter</option>
				    <option value = "Party Decorator">Party Decorator</option>
				    <option value = "Pet Keeper">Pet Keeper</option>
				    <option value = "Plumber">Plumber</option>
				    <option value = "Pool Cleaner">Pool Cleaner</option>
				    <option value = "Tutor">Tutor</option>
				    <option value = "Vegetable Seller">Vegetable Seller</option>
				    <option value = "Washer">Washer</option>
				    <option value = "Domestic Help">Domestic Help</option>
				    <option value = "Seller">Seller</option>
				    <option value = "Care Takers">Care Takers</option>
				    <option value = "Party Helper">Party Helper</option>
				    <option value = "Education">Education</option>
				    <option value = "Doctor">Doctor</option>
				    <option value = "Laundary">Laundary</option>
				</select>
			</div>
			<datalist id = "localities">
			  	{% for locality in localities %}
				<option value="{{ locality }}">
			    {% endfor %}
			</datalist>
			<datalist id = "pincodes">
				{% for code in pincodes %}
				<option value="{{ code }}">
			    {% endfor %}
			</datalist>

			<div class="col-md" style="padding: 5px 20px 5px 20px;">
				<input type="text" list="localities" class="form-control" name="Locality[]" placeholder="Locality">
			</div>
			<div class="col-md" style="padding: 5px 20px 5px 20px;">
				<input type="text" list="pincodes" class="form-control" name="Pincode[]" placeholder="Pincode">

			</div>

			<div class="col-md" style="padding: 5px 20px 5px 20px;">
				<select class="custom-select mr-sm-2 text-black form-control" name="Rating">
				    <option selected value = "All" >Minimum Rating</option>				  	
				    <option value = "2">Atleast 2</option>
				    <option value = "3">Atleast 3</option>
				    <option value = "4">Atleast 4</option>
				    <option value = "5">Atleast 5</option>
				</select>	
			</div>
			<div class="col-md" style="padding: 5px 20px 5px 20px;">
		     <button type="submit" class="btn btn-warning border-dark"><b>Filter</b></button>
			</div>

		</div>
	</form>
</div>
<hr class="bg-dark" style="margin-top: 40px; border-width: 3px;">


{% for i in serviceproviders %}
<div class="container" style="margin-top: 40px; width: 90%; background-color: rgba(52, 58, 64, 0.8); border-radius: 15px; padding: 20px 40px 20px 40px; color: #fff; border: 3px solid #ffc107;">
	<div class="row">
		<div class="col-md">
			<h3>{{ i.Name }}</h3>
		</div>
		<div class="col">
			<h6>Contact : {{ i.PhoneNumber }}</h6>
		</div>		
	</div>
	<div class="row">
		<div class="col-md">
			<h6>{{ i.Profession }} ({{ i.Domain }})</h6>
		</div>
		<div class="col">
			<h6>Location : {{ i.Apartment }}, {{ i.Locality }}, New Delhi - {{ i.Pincode }}</h6>
		</div>
	</div>
</div>

{% endfor %}
{% endblock %}